.sectionContent {
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.titleAndActions {
  background-color: #FFF;
  margin-bottom: 0.25rem;
}

.title {
  display: inline-block;
  line-height: 1.875rem;
  font-weight: 300;
  font-size: 1.25rem;
}
