<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= h @title || "Application™" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%# stylesheet_link_tag "application" -%>
  <%# javascript_include_tag "application" -%>

  <%= csrf_meta_tag %>

  <style type="text/css">
    body {
      margin-top: -3em;
      padding-top: 4em;
      background: #E5E5E5;
    }

    #login {
      text-align: left;
      border: 3px solid #CCCCCC;
      width: 224px;
      margin: 2em auto 0;
      padding: 1em;
      background: #FFFFFF;
    }

    #login h2 {
      border-bottom: 1px solid #efefef;
      margin: 0 0 10px;
    }

    #login label {
      display: inline;
    }

    #login input[type=text] {
      margin: 6px 0 6px;
    }

    #login input[type=submit] {
      margin: 8px 0 10px;
    }

    #login form {
      margin: 0;
    }
  </style>

  <script type="text/javascript">
    $(function() {
      $("#user_remember_me").prop("checked", "true")
    });
  </script>

</head>

<body>
<div id="login" style="width: 350px;">

  <%= yield %>

</div>
</body>
</html>

